/****************************** login.css **************************************
/* This file contains the code to style the login html page
/*
/******************************************************************************/
body {
    font-family: Arial, sans-serif;
  }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
}

h3 {
    font-size: 24px;
    text-align: center;
}

form {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border-radius: 4px;
    background-color: #f2f2f2;
}

.element {
    display: flex;
    justify-content: space-between;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: none;
    background-color: #e6e6e6;
}

.login-button {
    background-color: #4CAF50;
    border: none;
    color: #fff;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.login-button:hover {
    background-color: #006080;
}

.signup-button {
    background-color: #008CBA;
    border: none;
    color: #fff;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.signup-button:hover {
    background-color: #006080;
}

#invalid {
    font-size: small;
    color: red;
    text-align: center;
}

.hidden {
    /* Used to override other display properties,
     * .hidden should always take highest precedence */
    display: none !important;
}